{% extends  "base.html" %}
{% block title %}
    <title>Login</title>
{% endblock %}
{% block content %}
    <form class="form-contact" action="." method="post">
        {% csrf_token %}
        {% for field in form %}
        <fieldset class="form-group">
            <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                <input type="text"
                       class="form-control"
                       name="{{ field.name }}"
                       id="id_{{ field.name }}"
                       {% if field.value %}value="{{ field.value }}"{% endif %}
                       placeholder="{{ field.name }}">
                <p class="help-text">{{ field.help_text }} </p>
        </fieldset>
        {% endfor %}
        <p><input class="btn btn-default" type="submit" value="Log in"></p>
    </form>
{% endblock %}